* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    width: 100%;
    height: 14vh;
    background-color: white;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;

}

.psLogo {
    width: 20%;
    height: 100%;
    
}
.psLogo img{
    width:130%;
    height: 95%;
    margin-left:15px;
}
.left h1{
    width:350px;
    text-align: center;
    margin-top:10px;
    font-weight: 700;
    color:gray;
    margin-left:50px;
   
}

.left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .search input {
    width: 1700%;
    height: 40px;
    margin: 0;
    border: none;
    background-color:whitesmoke;
    transition: background-color 2s;
    border:0.5px solid lightgray;

}
.header .search input:hover{
    background-color :lightgray ;
}

.header .search {
    margin: 0;
    width: 20%;
    margin-left: -16%;
}
.searchIcon{
    font-size:20px;
    margin-left:-40px;
    color:gray;
}

.header .profile {
    margin: 0;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .profile .image {
    width: 40%;
    height: 100%;
}

.notification {
    display: flex;
    width: 110%;
    justify-content: space-between;
    align-items: center;
}

.notification p {
    margin: 10% 0;

}

.notificationCount {
    border: 1px solid black;
    width: 30px;
    height: 10%;
    border-radius: 30%;
    padding-left: 4px;
}

.header .profile .image img {
    width: 75px;
    height: 75px;
    margin: 15% 0;
    border: 1px solid black;
    border-radius: 50%;

}

.create {
    margin-left: 25px;
    width: 120px;
    height: 120px;
    border: 2px solid lightgray;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20%;
}

.create .icon {
    font-size: x-large;
}


.create h2 {
    text-align: center;
    font-size: 1.5rem;
}

.userName{
    margin-top:20%;
}
.signout{
    margin-bottom:20%;
}
.createdResumes{
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    }
    
.section{
    margin-left: 40px;
}    
    
.resume{
border: 5px solid #73C5E5;
width: 300px;
margin: 10px;
}



.shelf1 img{
width: 45px;
padding-left: 5px ;
}



.shelf1 p {
font-size: 10px;
padding: 13px;
}



.shelf1{
display: flex;
justify-content: space-between;
}



.shelf2 p {
margin: -4px 7px;
}



.shelf3 p {
height: 45px;
overflow: hidden;
font-size: 10px;
padding: 5px 8px;
}



.top{
border-bottom: 3px solid #73C5E5;
}



.finalBottom{
font-size: 6px;
margin-left: 20px
}



.resumeNameShelf{
display: flex;
justify-content: space-between;
margin: 0 20px;
}



.bottom{
    background-color: #BBFFFF;
    padding-bottom: 1px;
    padding-top: 8px;
}



.reviewShelf {
margin-left: 20px;
position: relative;
top: 6px;
border: 2px solid #F0FFFF;
width: 50px;
/* align-items: center; */
border-radius: 8px;
background: #F0FFFF;
padding-left: 9px;
}

.resumeOptions{
font-size: 2rem;
cursor: pointer;
background-color: #BBFFFF;
border: none;
}



.resumeName {
font-weight: bold;
font-size: 1.4rem;
position: relative;
top: 14px;
}



/* .resume{
border: 1px solid black;
} */



.optionsDiv ul{
list-style-type: none;
border: 1px solid #73C5E5;
background-color: lightslategrey;
width: 100px;
border-radius: 6px;
}



.optionsDiv{
position: relative;
left: 212px;
bottom: 68px;
display: none;
}



.resumeHeading {
    margin-left: 30px;
    margin-bottom: 10px;
    margin-top: 50px;
}
.resumeHeading h3{
    font-size: 35px;
    font-weight: bold;
    color: #00688B;
}