*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h5 {
    color: black;
}
.template{
    width: 40vw;
    height: 100%;
    padding: 0 20px 4000px 20px;
    background-color: #fff;
    float: right;
    border-left: solid 4px rgb(199, 190, 190);
    position: fixed;
    right: 0;
    top: 0;
    overflow: scroll;
}
.aboutMeDiv{
    /*width: 50px;*/
    word-wrap: break-word;
    /* margin-bottom: -500px; */
}
.aboutMeText{
    position: relative;
    bottom: 50px;
    left: 49px;
    font-size: 1rem;
    border-top: 4px solid #73C5E5;
    padding-top: 5px;
    padding-bottom: 5px;
}
.skillsText{
    position: relative;
    bottom: 50px;
    left: 49px;
    border-top: 4px solid #73C5E5;
    padding-top: 5px;
    padding-bottom: 5px;
}
.subaboutme{
    position: relative;
    bottom: 50px;
    left: 49px;
}
.userInfoDiv {
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
    margin-bottom: -70px;
}
/* .circleProfile {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    background-color: lightgray;
    /* position: fixed;
    top: 23px;
    right: 472px;
    margin-top: 24px;
} */

.circleProfile img{
    width: 125px;
    height: 125px;
    border-radius: 50%;
    background-color: lightgray;
    /* position: fixed; */
    top: 2px;
    right: 472px;
    margin-top: 24px;
}
.nameInfo {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    margin-left: 118px;

}
.resumeDetailsDiv {
    margin-top: 100px;
    margin-bottom: 40px;
    /* margin-left: 30px; */
    /*position: fixed;*/
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.resumeDetailsDiv div {
    width: 16vw;
    margin-right: 30px;
}
.resumeDetailsDiv div p{
    font-size: 0.8rem;
}

.resumeHeadings{
    padding: 50px;
}
.client_country{
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    border-top: 4px solid #73C5E5;
    padding-top: 5px;
    padding-bottom: 5px;
}
.client_country .countryText{
    margin-right: 50px;
}
/*.workHistoryDiv p{
    font-size: 1.2rem;
}*/

.clientText{
    font-size: 20px;
}
/* .workHistoryDiv .technologyText{
    border: 2px solid black;
    border-radius: 5px;
} */
.experienceHeading{
    display: flex;
}
.expLabel{
    margin-left: 10px;
}

.workHistoryDiv{
    
}

.workHistoryDiv .client_country, .projectText, .roleText, .businessSolutionText, .technologyText, .projectResText{
    position: relative;
    bottom: 50px;
    left: 49px;
}
.workHistoryDiv .durationText{
    position: relative;
    left: 47px;
    top: -53px;
}

.nameHead{
    font-size: 1.6rem;
    font-weight: 500;
}

.roleLabel{
    font-size: 1.2rem;
    font-weight: 400;
}
.certificationTrainingText{
    position: relative;
    bottom: 50px;
    left: 49px;
    font-size: 1rem;
    border-top: 4px solid #73C5E5;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: -60px;
}
.educationText{
    position: relative;
    bottom: 50px;
    left: 50px;
    font-size: 1rem;
    border-top: 4px solid #73C5E5;
    padding-top: 5px;
    
}

.achievementMembershipText{
    position: relative;
    bottom: 5x;
    left: 49px;
    font-size: 1rem;
    border-top: 4px solid #73C5E5;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: -50px;
}
.certificationDiv{
    margin-top: 20px;
}
.skillsDiv{
    margin-top: -50px;
}
.educationalDiv{
    margin-top: -50px;
    
}
.educationDiv{
    margin-top: -50px;
    margin-left: 50px;
    
}
.Border{
    border-right: .2rem black solid;
}
.subcertificationtraining{
    margin-left: 50px;

}
.subachievementmembership{
    margin-left:50px;
}
