* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*.bottomSection {
    display: flex;
    flex-direction: column;
    margin-top: 40vh;
    margin-left: 125px;
}*/
form .WorkExp {
    width: 40vw;
    overflow: scroll;
    overflow-x: hidden;
    /* margin-top:3.2rem; */
}
.labelWorkExp {
    color: rgb(85, 84, 84);
    width: 150px;
}
.topSection {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 40px;
        margin-top: 1rem;
}
#formWorkExp {
    height: 705;
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 38vw;
    margin-top: 3vh;
}
.labelInputWorkExp {
    display: flex;
    width: 750px;
    justify-content: space-between;
    height: 75px;
}
.inputsWorkExp {
    margin-left: 100px;
    display: flex;
    margin-bottom: 30px;
    border-radius: 0.3rem;
    width: 350px;
    padding: 10px;
    margin-right: 210px;
    border:  1px gray solid;
}
.durationLabel {
    width: 150px;
}
.calendarDiv {
    display: flex;
    align-items: center;
}
.duration {
    display: flex;
    margin-left: 60px;
    width: 500px;
}
.buttons {
    width: 60px;
    height: 30px;
    padding: 0.25rem;
    font-size: 10px;
    border-radius: 14.25rem;
    margin-right: 10px;
    border-color: white;
    border-width: 1px;
    background-color: #C0C0C0;
    border: 1px solid #C0C0C0;
    color: black;
    
}

.button2{
    width: 150px;
    height: 40px;
    padding: 0.55rem;
    background-color: #C0C0C0;
    color: black;
    font-size: 12px;
    border-radius: 14.25rem;
    margin-right: 10px;
    border-color: white;
    border: 2px;
    font-weight: 600;
}

.button2:hover{
    background-color: gray;
    color: black;
}

.WorkExp .FormFeilds {
    margin-left: 25px;
    width: 40vw;
    margin-top: 20px;
}
.datesDiv {
    margin: 5px;
    width: 300px;
}
.listMenu{
    height: auto;
    width: 100%;
    padding: 0;
}
.duration {
    display:flex;
    /* flex-direction: column; */
    margin-left: 180px;
    width: 90vw;
    height: 8vh;
    
}
.duration_start{
    margin-right:10px;
    width: 125px;
    
}

.duration_end{
    margin-left:-10px;
    width: 125px;
}
.duration  {
color: #000000;

}

.Validation_we{
    color: red;
    position:relative;
    left:300px;
    top: -20px;
}

.td{
    position: relative;
    left: 5px;
    bottom: 2px;
    color: #000000;
    
}

.td label{
    margin-left: 2px;
    position: relative;
    top: 4px;
}
.designationDropDown select{
    margin-right: 210px;
    margin-bottom: 30px;
    border:1.5px solid gray;
    border-radius: 0.5rem;
    width: 307px;
    padding: 10px;
}
.projectDropDown select{
    margin-right: 210px;
    margin-bottom: 30px;
    border:1.5px solid gray;
    border-radius: 0.5rem;
    width: 307px;
    padding: 10px;
}

.techDropDown select{
    margin-right: 210px;
    margin-bottom: 30px;
    border:1.5px solid gray;
    border-radius: 0.5rem;
    width: 307px;
    padding: 10px;
}
.deleteButton{
    padding: 8px 20px;
    border: 1px solid #c0c0c0;
    background-color: #c0c0c0;
    border-radius: .7rem;
    margin-left: 3rem;
    position:static;
    margin-top:1.4rem;
    margin-bottom:1.2rem;
}

.WorkExp .deleteButton:hover{
    background-color:gray;
    color:#000000;
}

a .addMorebtn{
    position:static;
}

